/* Styling in React is same as normal styling ,you select the element through selectors and then style it, here the elements will be JSX elements you return through different functional components, and inthe ,import it in that particular component.*/

.header {
  background-color: blue;
  width: 100%;
  height: 20vh;
  display: flex;
  margin-top: 0;
  justify-content: center;
  background-color: #333;
}
.intro {
  margin-top: 35px;
  margin-bottom: 30px;
}
body {
  margin: 0;
  width: 100%;
}
